#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/default.mk

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
# On Ubuntu, the `bpftool` in path is a shell wrapper pointing at
# the binary corresponding to runtime kernel version.
#
# We do not know the kernel version being used on the system building
# this package, and for the build we only need the tool to generate
# skeleton code.
#
# If /usr/lib/linux-tools/*/bpftool exists, locate the most recent
# version and point to that, otherwise `bpftool` from PATH will be
# used.
export BPFTOOL=$(shell find /usr/lib/linux-tools -name bpftool -executable -print | sort -nr | head -1)
endif

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	mv objs/client objs/traffic-limit
	mv objs/main objs/traffic-limitd
	help2man --no-info --help-option="-h" --version-string="$(DEB_VERSION_UPSTREAM)" --name="Start task with limited network bandwidth" ./objs/traffic-limit > ./objs/traffic-limit.1

override_dh_install:
	dh_installdebconf
	dh_install
