[Unit]
Description=Daemon for limit network bandwidth socket

[Socket]
ListenSequentialPacket=/run/traffic-limitd.sock

[Install]
WantedBy=sockets.target
